##### I saw this on the github page of the lib. I want to save this for future

In [1]:
import yfinance as yf

##### Create a Ticker

In [2]:
spy = yf.Ticker("SPY")

In [3]:
spy.info

{'previousClose': 370.17,
 'regularMarketOpen': 371.94,
 'twoHundredDayAverage': 335.97543,
 'trailingAnnualDividendYield': None,
 'payoutRatio': None,
 'volume24Hr': None,
 'regularMarketDayHigh': 372.46,
 'navPrice': 370.1,
 'averageDailyVolume10Day': 59071537,
 'totalAssets': 322487222272,
 'regularMarketPreviousClose': 370.17,
 'fiftyDayAverage': 356.6997,
 'trailingAnnualDividendRate': None,
 'open': 371.94,
 'toCurrency': None,
 'averageVolume10days': 59071537,
 'expireDate': None,
 'yield': 0.015700001,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': None,
 'beta': None,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 371.35,
 'priceHint': 2,
 'currency': 'USD',
 'regularMarketVolume': 9268000,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': None,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 73312450,
 'priceToSalesTrailing12Months': None,
 'dayLow': 371.35,
 'ask': 371.59,
 'ytdReturn': None,
 'askSize': 800,
 'volume': 9268000,
 'fiftyTwoWeekHigh': 372.46,
 'forwardPE': None,
 'maxAge': 1,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 218.26,
 'bid': 371.54,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': 800,
 'dayHigh': 372.46,
 'exchange': 'PCX',
 'shortName': 'SPDR S&P 500',
 'longName': 'SPDR S&P 500 ETF Trust',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'quoteType': 'ETF',
 'symbol': 'SPY',
 'messageBoardId': 'finmb_6160262',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': None,
 'beta3Year': 1,
 'profitMargins': None,
 'enterpriseToEbitda': None,
 '52WeekChange': None,
 'morningStarRiskRating': None,
 'forwardEps': None,
 'revenueQuarterlyGrowth': None,
 'fundInceptionDate': 727660800,
 'annualReportExpenseRatio': None,
 'bookValue': None,
 'fundFamily': 'SPDR State Street Global Advisors',
 'lastFiscalYearEnd': None,
 'netIncomeToCommon': None,
 'trailingEps': None,
 'lastDividendValue': None,
 'SandP52WeekChange': None,
 'priceToBook': None,
 'nextFiscalYearEnd': None,
 'mostRecentQuarter': None,
 'enterpriseValue': None,
 'threeYearAverageReturn': 0.1344,
 'lastSplitDate': None,
 'lastSplitFactor': None,
 'legalType': 'Exchange Traded Fund',
 'lastDividendDate': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': None,
 'pegRatio': None,
 'lastCapGain': None,
 'category': 'Large Blend',
 'fiveYearAverageReturn': 0.1475,
 'phone': '866-732-8673',
 'longBusinessSummary': 'The investment seeks to provide investment results that, before expenses, correspond generally to the price and yield performance of the S&P 500Â® Index.\n The Trust seeks to achieve its investment objective by holding a portfolio of the common stocks that are included in the index (the â\x80\x9cPortfolioâ\x80\x9d), with the weight of each stock in the Portfolio substantially corresponding to the weight of such stock in the index.',
 'companyOfficers': [],
 'regularMarketPrice': 371.94,
 'logo_url': ''}

In [37]:
hist = spy.history(period="max")
print(type(hist))
print(hist)

<class 'pandas.core.frame.DataFrame'>
              Open    High     Low   Close    Volume  Dividends  Stock Splits
Date
1993-01-29   26.10   26.10   25.97   26.08   1003200        0.0             0
1993-02-01   26.10   26.27   26.10   26.27    480500        0.0             0
1993-02-02   26.25   26.34   26.19   26.32    201300        0.0             0
1993-02-03   26.36   26.62   26.34   26.60    529400        0.0             0
1993-02-04   26.69   26.77   26.39   26.71    531500        0.0             0
...            ...     ...     ...     ...       ...        ...           ...
2020-12-11  364.90  366.74  363.26  366.30  57698600        0.0             0
2020-12-14  368.64  369.80  364.47  364.66  69216200        0.0             0
2020-12-15  367.40  369.59  365.92  369.59  64071100        0.0             0
2020-12-16  369.82  371.16  368.87  370.17  58349500        0.0             0
2020-12-17  371.94  372.46  371.35  372.01  11243173        0.0             0

[7024 rows x 7 columns]

In [6]:
spy.actions

            Dividends  Stock Splits
Date
1993-03-19      0.213           0.0
1993-06-18      0.318           0.0
1993-09-17      0.286           0.0
1993-12-17      0.317           0.0
1994-03-18      0.271           0.0
...               ...           ...
2019-09-20      1.384           0.0
2019-12-20      1.570           0.0
2020-03-20      1.406           0.0
2020-06-19      1.366           0.0
2020-09-18      1.339           0.0

[112 rows x 2 columns]

In [7]:
spy.dividends

Date
1993-03-19    0.213
1993-06-18    0.318
1993-09-17    0.286
1993-12-17    0.317
1994-03-18    0.271
              ...
2019-09-20    1.384
2019-12-20    1.570
2020-03-20    1.406
2020-06-19    1.366
2020-09-18    1.339
Name: Dividends, Length: 112, dtype: float64

In [8]:
spy.splits

Series([], Name: Stock Splits, dtype: int64)

In [9]:
spy.financials

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [10]:
spy.quarterly_financials

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [11]:
spy.major_holders

                0                1
0  Previous Close           370.17
1            Open           371.94
2             Bid     371.54 x 800
3             Ask     371.59 x 800
4     Day's Range  371.35 - 372.46
5   52 Week Range  218.26 - 372.46
6          Volume          9268413
7     Avg. Volume         73312450

In [12]:
spy.institutional_holders

                        0           1
0              Net Assets     322.49B
1                     NAV      370.10
2          PE Ratio (TTM)         NaN
3                   Yield       1.57%
4  YTD Daily Total Return      16.41%
5       Beta (5Y Monthly)        1.00
6     Expense Ratio (net)       0.09%
7          Inception Date  1993-01-22

In [13]:
spy.balance_sheet

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [14]:
spy.quarterly_balance_sheet

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [15]:
spy.cashflow

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [16]:
spy.quarterly_cashflow

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [17]:
spy.earnings

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [18]:
spy.quarterly_earnings

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [21]:
print(spy.sustainability)

None

In [20]:
spy.recommendations

In [22]:
spy.calendar

In [23]:
spy.isin

'US78462F1030'

In [24]:
# show options expirations
spy.options

('2020-12-17',
 '2020-12-20',
 '2020-12-22',
 '2020-12-23',
 '2020-12-27',
 '2020-12-29',
 '2020-12-30',
 '2021-01-03',
 '2021-01-05',
 '2021-01-07',
 '2021-01-10',
 '2021-01-12',
 '2021-01-14',
 '2021-01-21',
 '2021-02-18',
 '2021-03-18',
 '2021-03-30',
 '2021-04-15',
 '2021-05-20',
 '2021-06-17',
 '2021-06-29',
 '2021-09-16',
 '2021-09-29',
 '2021-12-16',
 '2022-01-20',
 '2022-03-17',
 '2022-06-16',
 '2022-09-15',
 '2022-12-15',
 '2023-01-19')

In [26]:
# get option chain for specific expiration
opt = spy.option_chain()
# data available via: opt.calls, opt.puts

In [32]:
print(type(opt))

<class 'yfinance.ticker.Options'>