In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/MMM.csv')

In [ ]:
df.columns = ['Fecha','Close']

In [5]:
df.set_index('Unnamed: 0')

                   MMM
Unnamed: 0
1970-03-25    6.476563
1970-03-26    6.460938
1970-03-30    6.500000
1970-03-31    6.531250
1970-04-01    6.632813
...                ...
2021-05-10  207.330002
2021-05-11  203.720001
2021-05-12  198.869995
2021-05-13  203.410004
2021-05-14  204.380005

[12901 rows x 1 columns]