### Pokemon Notebook

##### First things first. The imports...

In [1]:
import pandas as pd
from random import randrange

##### Read the csv into a DataFrame

In [2]:
df = pd.read_csv('data/Pokemon.csv')

In [3]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

##### I'll remove the columns Generation and Legendary because I'll not use them for this.

In [4]:
df.drop(['Generation', 'Legendary'], inplace=True, axis=1)

#### The rules are simple:
|Type|Weak to type|
|:---:|:---:|
|Normal|Rock, Steel, Ghost|
|Fire|Fire, Water, Rock, Dragon|
|Water|Dragon, Water, Grass|
|Grass|Fire, Grass, Flying, Bug, Dragon, Steel, Poison|
|Electric|Grass, Electric, Dragon, Ground|
|Ice|Fire, Water, Ice, Steel|
|Fighting|Poison, Flying, Psychic, Bug, Fairy, Ghost|
|Poison|Poison, Ground, Rock, Ghost, Steel|
|Ground|Bug, Grass, Flying|
|Flying|Electric, Rock, Steel|
|Psychic|Psychic, Steel, Dark|
|Bug|Fire, Fighting, Poison, Flying, Ghost, Steel, Fairy|
|Rock|Fighting, Ground, Steel|
|Ghost|Dark, Normal|
|Dragon|Steel, Fairy|
|Dark|Fighting, Dark, Fairy|
|Steel|Fire, Electric, Water, Steel|
|Fairy|Fire, Poison, Steel|

In [5]:
oponent_number = randrange(800)
print(oponent_number)

182

In [6]:
oponent_pokemon = df[df['#'] == oponent_number]
print(oponent_pokemon)

       #       Name Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  \
197  182  Bellossom  Grass    NaN    490  75      80       95       90

     Sp. Def  Speed
197      100     50

##### I'll create a dict with the data of the above table so I can find easier the type that I need to win

In [7]:
dict_weak_against = {
    "Normal" : "Rock, Steel, Ghost",
    "Fire" : "Fire, Water, Rock, Dragon",
    "Water" : "Dragon, Water, Grass",
    "Grass" : "Fire, Grass, Flying, Bug, Dragon, Steel, Poison",
    "Electric" : "Grass, Electric, Dragon, Ground",
    "Ice" : "Fire, Water, Ice, Steel",
    "Fighting" : "Poison, Flying, Psychic, Bug, Fairy, Ghost",
    "Poison" : "Poison, Ground, Rock, Ghost, Steel",
    "Ground" : "Bug, Grass, Flying",
    "Flying" : "Electric, Rock, Steel",
    "Psychic" : "Psychic, Steel, Dark",
    "Bug" : "Fire, Fighting, Poison, Flying, Ghost, Steel, Fairy",
    "Rock" : "Fighting, Ground, Steel",
    "Ghost" : "Dark, Normal",
    "Dragon" : "Steel, Fairy",
    "Dark" : "Fighting, Dark, Fairy",
    "Steel" : "Fire, Electric, Water, Steel",
    "Fairy" : "Fire, Poison, Steel"
}

In [8]:
oponent_type = oponent_pokemon['Type 1'].item()
weak_types = dict_weak_against[str(oponent_type)].split(', ')

##### Get the pokemons that has the Type 1 = weak_types and sort the results by Attack, Special Attack and HP

In [9]:
winning_options = df[df['Type 1'].isin(weak_types)].sort_values(['Attack', 'Sp. Atk', 'HP'], ascending=False)

##### The top 5 wining pokemons are....

In [10]:
winning_options.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115
711,646,KyuremBlack Kyurem,Dragon,Ice,700,125,170,100,120,90,95
494,445,GarchompMega Garchomp,Dragon,Ground,700,108,170,115,120,95,92
279,257,BlazikenMega Blaziken,Fire,Fighting,630,80,160,80,130,80,100